<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR2Gg_l_KRw9aHVybhywf1DM5GOGgoIlg</string>
	<key>GCM_SENDER_ID</key>
	<string>748103159391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.v1Rentals</string>
	<key>PROJECT_ID</key>
	<string>v1rentals</string>
	<key>STORAGE_BUCKET</key>
	<string>v1rentals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748103159391:ios:1fe363acf9f5ed415395ea</string>
</dict>
</plist>